<div class="inner-header"  fxLayout="row">
    <h1>the best <span>BAGs</span></h1>
    <ul class="navigation" fxLayout="row">
            <a routerLink='bags' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><li>Bags</li></a>
            <a routerLink='about' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><li>about</li></a>
            <!-- <a routerLink='users' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><li>users</li></a> -->
            <a routerLink='contact' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><li>contacts us</li></a>
    </ul>
</div>
