<div class="inner-header"  fxLayout="row">
    <h1>the best <span>BAGs</span></h1>
    <ul class="navigation" fxLayout="row">
            <a routerLink='bags' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><li>Bags</li></a>
            <a routerLink='about' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><li>about</li></a>
            <a routerLink='contact' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><li>contacts us</li></a>           
            <a *ngIf="(cart$ | async)?.length" routerLink='cart' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><li><i class="material-icons">shopping_cart</i></li></a>
    </ul>
</div>
