.cart-list-container {
    text-align: center;
    padding: 2%;
    width: 40%;
    margin: 10% auto;
    display: flex; 

}

.evenCart {
    border: 2px solid cadetblue;
}

table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }

  .img-in-table {
      width: 50px;
  }

